body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(139, 0, 0, 0.514);
}

.header-div {
  display: flex;
  justify-content: space-evenly;
}

.home-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}